{% extends 'documentos/main.html'%}
{% block content %}
<style>
	.card{
		background: rgb(105, 51, 148, 0.05);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: auto;
        width: 40%;
        padding: 10px;
    }
</style>

<div style="text-align:center;" class="card card-body">
  <h5 style="text-align:left;">1 - 2</h5>
  <h5 style="text-align:center;">Registrar Encargado de Area</h5>
            <form  action="" method="POST">
                {% csrf_token %}
                {{r_form.as_p}}
                <br>
                <div class="form-group d-flex align-items-center justify-content-between">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block enter-btn">Registrar</button>
              </div>
            </form>
            <br>
            </div>
{% endblock %}